@font-face {
    font-family: 'PT Sans';
    src: 
        url('../fonts/ptsans-400-normal.woff2') format('woff2'), 
        url('../fonts/ptsans-400-normal.woff') format('woff'), 
        url('../fonts/ptsans-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: 
        url('../fonts/ptsans-700-normal.woff2') format('woff2'), 
        url('../fonts/ptsans-700-normal.woff') format('woff'), 
        url('../fonts/ptsans-700-normal.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

  html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 21px;    
    color: #333333;
    font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

p {
    margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header {
    width: 100%;    
}

.header__wrapper {
    width: 1200px;
    margin: 0 auto;
}

.top {
    position: relative;
}

.top__logo {
    position: absolute;
    top: 0;
    left: 50%;
    width: 140px;
    height: 71px;
    margin-left: -70px;
    z-index: 1;
}

.main-nav__list {
    margin: 0 auto;
    padding: 0;   
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;    
}

.main-nav__list .main-nav__item:nth-child(2) {
    margin-right: 244px;
}

.main-nav__item {
    width: 239px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;   
}

.main-nav__link {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.header__initial-screen {
    background-image: url('../img/background-photo.jpg');
    background-repeat: no-repeat;
    background-position: center -56px;
    min-height: 509px;
    display: flex;
    justify-content: center;
    position: relative;
}

.header__initial-screen::after {
    content: '';
    position: absolute;
    background: url('../img/separator.svg') no-repeat center center;
    background-size: cover;

    width: 100%;
    height: 56px;

    bottom: 0;
    left: 0;
}

.slogan {
    width: 100%;
}

.slogan__wrapper {
    width: 1200px;
    margin: 0 auto;
}

.slogan__top {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
}

.slogan__bottom {
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 26px;
    color: #333333;
}

.promo {
    width: 100%;
    background-color: #81b3d2;
    
    margin-top: 50px;
}

.promo__wrapper-photo {
    background: url('../img/photo-city.jpg') no-repeat 400px center;
    background-size: contain;
}

.promo__wrapper {
    width: 1200px;
    margin: 0 auto;
}

.promo__wrapper {
    display: flex;
}

.promo__info {
    min-width: 400px;
}

.promo__header {
    font-weight: 700;
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 46px;
}

.promo__count,
.promo__desc {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 24px;
}