@font-face {
    font-family: 'PT Sans';
    src: 
        url('../fonts/ptsans-400-normal.woff2') format('woff2'), 
        url('../fonts/ptsans-400-normal.woff') format('woff'), 
        url('../fonts/ptsans-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: 
        url('../fonts/ptsans-700-normal.woff2') format('woff2'), 
        url('../fonts/ptsans-700-normal.woff') format('woff'), 
        url('../fonts/ptsans-700-normal.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

  html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 21px;    
    color: #333333;
    font-style: normal;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

p {
    margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    border: none;
    background-color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
}

.slogan__bottom,
.advanteges__desc,
.feature__content,
.call-to-action__content {
    text-transform: uppercase;
    color: #333333;
    text-align: center;
}

.header {
    width: 100%;    
}

.header__wrapper {
    width: 1200px;
    margin: 0 auto;
}

.top {
    position: relative;
}

.top__logo {
    position: absolute;
    top: 0;
    left: 50%;
    width: 140px;
    height: 71px;
    margin-left: -70px;
    z-index: 1;
}

.main-nav__list {
    margin: 0 auto;
    padding: 0;   
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;    
}

.main-nav__list .main-nav__item:nth-child(2) {
    margin-right: 244px;
}

.main-nav__item {
    width: 239px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;   
}

.main-nav__link {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.main-nav__link:hover {
    color: #81b3d2;
}

.main-nav__link:active {
    color: rgba(0, 0, 0, 0.3);
}

.header__initial-screen {
    background-image: url('../img/background-photo.jpg');
    background-repeat: no-repeat;
    background-position: center -56px;
    min-height: 509px;
    display: flex;
    justify-content: center;
    position: relative;
}

.header__initial-screen::after {
    content: '';
    position: absolute;
    background: url('../img/separator.svg') no-repeat center center;
    background-size: cover;

    width: 100%;
    height: 56px;

    bottom: 0;
    left: 0;
}

.slogan {
    width: 100%;
}

.slogan__wrapper {
    width: 1200px;
    margin: 0 auto;
}

.slogan__top {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
}

.slogan__bottom {
    line-height: 26px;    
    margin-top: 26px;    
    margin-bottom: 50px;
}

.promo {
    width: 100%;
    height: 256px;
    background-color: #81b3d2;    
}

.promo__wrapper {
    width: 1200px;
    margin: 0 auto;
}

.promo__wrapper {
    display: flex;
}

.promo__info {
    width: 400px;
}

.promo__header {
    font-weight: 700;
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 46px;
}

.promo__count,
.promo__desc {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 24px;
}

.advantages {
    width: 100%;
}

.advanteges__wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    height: 330px;
}

.advanteges__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 300px;
    margin: 0 50px;
}

.advanteges__section img {    
    position: absolute;
    bottom: 198px;
}

.advanteges__header {
    align-self: center;
    margin: 0;
    margin-top: 12px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;       
}

.advanteges__desc {
    position: absolute;
    bottom: 83px;      
}

.feature {
    width: 100%;
    background-color: #eeeeee;
}

.feature__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;    
}

.feature__block {
    text-align: center;
    width: 400px;
}

.feature__header {
    margin-top: 48px;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}

.feature__count,
.feature__content {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 23px;
}

.feature__content {
    margin-bottom: 57px;
}

.call-to-action {
    width: 100%;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.call-to-action__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.call-to-action__header {
    margin: 0;
    text-align: center;
    font-size: 30px;
    line-height: 31px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 54px;
}

.call-to-action__content {
    margin-top: 26px;
    line-height: 24px;
}

.call-to-action__button {
    background-color: #766357;    
    text-align: center;
    padding: 30px 138px;
    font-size: 21px;
    line-height: 26px;
    margin-top: 47px;
}

.call-to-action__button:hover {
    background-color: #604e43;
}

.call-to-action__button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}



.form__wrapper img {
    height: 472px;    
}

.footer {
    widows: 100%;
}

.footer__wrapper {
    max-width: 1200px;
    min-height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 132px;
}

.footer__social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 30px
}

.footer__social-item {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    margin: 3px;
}

.footer__social-item:hover {
    background-color: #669ec0;
}

.footer__social-item:active {
    background-color: #5496bd;
}

.footer__social-item:active svg {
    opacity: 0.3;
}

.footer__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
}

.footer__social-link svg {
    align-items: center;
}

.footer__developed-by {
    display: flex;
    align-items: center;
    margin-right: 101px;
}

.footer__developed-by p {
    text-transform: uppercase;
    margin-right: 8px;
}

.footer__developed-by-link:hover svg path {
    fill: #81b3d2;
}

.footer__developed-by-link:active svg path {
    fill: #bdbbbc;
}

.form__wrapper {
    position: relative;
}

.form {
    width: 568px;
    height: 395px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 315px;
    z-index: 1;    
}

.form__wrap {
    margin: 55px;
}

.form__fieldset {
    display: flex;
    flex-wrap: wrap;
}

.form__fieldset label {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 26px;
    margin-right: 18px;    
}

.form__fieldset input[type=text] {
    width: 346px;
    border: none;
    background-color: #f2f2f2;
    height: 38px;
    padding-left: 20px;
    padding-right: 30px;    
}


.form__date-of-arrival-wrapper,
.form__departure-date-wrapper {
    position: relative;
    display: flex;    
    align-items: center;
    margin-bottom: 30px;
}

.form__date-of-arrival-wrapper label {
    margin-right: 21px;
}

.form__fieldset input[placeholder] {
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 26px;
}

.form__date-of-arrival-wrapper svg {
    position: absolute;
    right: 7px;
}

.form__fieldset input:hover {
    background-color: #ebebeb;    
}

.form__fieldset input:focus {
    background-color: #fff;
    border: 2px solid #e5e5e5;
    outline: none;
}

.form__date-of-arrival-wrapper:hover svg path {
    fill: #000000;
}

input[type=text]:focus .form {
    background-color: tomato;
}