@font-face {
    font-family: 'PT Sans';
    src: 
        url('../fonts/ptsans-400-normal.woff2') format('woff2'), 
        url('../fonts/ptsans-400-normal.woff') format('woff'), 
        url('../fonts/ptsans-400-normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans';
    src: 
        url('../fonts/ptsans-700-normal.woff2') format('woff2'), 
        url('../fonts/ptsans-700-normal.woff') format('woff'), 
        url('../fonts/ptsans-700-normal.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 21px;    
    color: #333333;
    font-style: normal;
}

img {
    max-width: 100%;    
    vertical-align: top;
}

p {
    margin: 0;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.button {
    border: none;
    background-color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    padding: 0;
}

.slogan__bottom,
.advanteges__desc,
.feature__content,
.call-to-action__content,
.hotel__details p,
.hotel__book p,
.hotel__rating p {
    text-transform: uppercase;
    color: #333333;
    text-align: center;
}

.header {
    width: 100%;    
}

.header__wrapper {
    width: 1200px;
    margin: 0 auto;
}

.top {
    position: relative;
}

.top__logo {
    position: absolute;
    top: 0;
    left: 50%;
    width: 140px;
    height: 71px;
    margin-left: -70px;
    z-index: 1;
}

.main-nav__list {
    margin: 0 auto;
    padding: 0;   
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;    
}

.main-nav__list .main-nav__item:nth-child(2) {
    margin-right: 244px;
}

.main-nav__item {
    width: 239px;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;   
}

.main-nav__link {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
}

.main-nav__link:hover {
    color: #81b3d2;
}

.main-nav__link:active {
    color: rgba(0, 0, 0, 0.3);
}

.main-nav__link--active {
    color: #766357;
}

.header__initial-screen {
    background-image: url('../img/background-photo.jpg');
    background-repeat: no-repeat;
    background-position: center -56px;
    min-height: 509px;
    display: flex;
    justify-content: center;
    position: relative;
}

.header__initial-screen::after {
    content: '';
    position: absolute;
    background: url('../img/separator.svg') no-repeat center center;
    background-size: cover;

    width: 100%;
    height: 56px;

    bottom: 0;
    left: 0;
}

.slogan {
    width: 100%;
}

.slogan__wrapper {
    width: 1200px;
    margin: 0 auto;
}

.slogan__top {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 60px;
}

.slogan__bottom {
    line-height: 26px;    
    margin-top: 26px;    
    margin-bottom: 50px;
}

.promo {
    width: 100%;
    height: 256px;
    background-color: #81b3d2;    
}

.promo__wrapper {
    width: 1200px;
    margin: 0 auto;
}

.promo__wrapper {
    display: flex;
}

.promo__info {
    width: 400px;
}

.promo__header {
    font-weight: 700;
    text-align: center;
    font-size: 21px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 46px;
}

.promo__count,
.promo__desc {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 24px;
}

.advantages {
    width: 100%;
}

.advanteges__wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    height: 330px;
}

.advanteges__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    text-align: center;
    width: 300px;
    margin: 0 50px;
}

.advanteges__section img {    
    position: absolute;
    bottom: 198px;
}

.advanteges__header {
    align-self: center;
    margin: 0;
    margin-top: 12px;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;       
}

.advanteges__desc {
    position: absolute;
    bottom: 83px;      
}

.feature {
    width: 100%;
    background-color: #eeeeee;
}

.feature__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;    
}

.feature__block {
    text-align: center;
    width: 400px;
}

.feature__header {
    margin-top: 48px;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}

.feature__count,
.feature__content {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 23px;
}

.feature__content {
    margin-bottom: 57px;
}

.call-to-action {
    width: 100%;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.call-to-action__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.call-to-action__header {
    margin: 0;
    text-align: center;
    font-size: 30px;
    line-height: 31px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 54px;
}

.call-to-action__content {
    margin-top: 26px;
    line-height: 24px;
}

.call-to-action__button {
    background-color: #766357;    
    text-align: center;
    padding: 30px 138px;
    font-size: 21px;
    line-height: 26px;
    margin-top: 47px;
}

.call-to-action__button:hover {
    background-color: #604e43;
}

.call-to-action__button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}



.form__wrapper img {
    height: 472px;    
}

.footer {
    widows: 100%;
}

.footer__wrapper {
    max-width: 1200px;
    min-height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 132px;
}

.footer__social {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 30px
}

.footer__social-item {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    margin: 3px;
}

.footer__social-item:hover {
    background-color: #669ec0;
}

.footer__social-item:active {
    background-color: #5496bd;
}

.footer__social-item:active svg {
    opacity: 0.3;
}

.footer__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
}

.footer__social-link svg {
    align-items: center;
}

.footer__developed-by {
    display: flex;
    align-items: center;
    margin-right: 101px;
}

.footer__developed-by p {
    text-transform: uppercase;
    margin-right: 8px;
}

.footer__developed-by-link:hover svg path {
    fill: #81b3d2;
}

.footer__developed-by-link:active svg path {
    fill: #bdbbbc;
}

.form__wrapper {
    position: relative;
}

.form {
    width: 568px;
    height: 395px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 315px;
    z-index: 1;    
}

.form__wrap {
    margin: 55px;
}

.form__fieldset {
    display: flex;
    flex-wrap: wrap;
}

.form__fieldset label {
    font-weight: 700;
    text-transform: uppercase;
    line-height: 26px;    
    width: 100px;
    margin-right: 10px;  
}

.form__date-of-arrival-wrapper input[type=text],
.form__departure-date-wrapper input[type=text] {
    width: 346px;
    border: none;
    background-color: #f2f2f2;
    height: 38px;
    padding-left: 15px;
    padding-right: 30px;    
}


.form__date-of-arrival-wrapper,
.form__departure-date-wrapper {
    position: relative;
    display: flex;    
    align-items: center;
    margin-bottom: 29px;
}

.form__fieldset input[placeholder] {
    color: #000000;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 26px;
}

.form__date-of-arrival-wrapper svg,
.form__departure-date-wrapper svg {
    position: absolute;
    right: 7px;
}

.form__fieldset input[type=text]:hover {
    background-color: #ebebeb;    
}

.form__fieldset input[type=text]:focus {
    background-color: #fff;
    border: 2px solid #e5e5e5;
    outline: none;
}

.form__date-of-arrival-wrapper:hover .form__calendar,
.form__departure-date-wrapper:hover .form__calendar {
    fill: #000000;
}

.form__date-of-arrival-wrapper:active .form__calendar,
.form__departure-date-wrapper:active .form__calendar {
    fill: #81b3d2;
}

.form__people-count {
    padding: 0;
    border: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 54px;
}

.form__people-count-adults {
    display: flex;
    align-items: center;
    width: 226px;
}

.form__people-count-adults label {
    margin-right: 20px;
}

.form__people-count-childrens {
    display: flex;
    align-items: center;
    width: 178px;
}

.form__people-count input {
    width: 38px;
    height: 38px;
    border: none;
    background-color: #f2f2f2;
}

.form__button-deduction,
.form__button-add {
    min-width: 38px;
    min-height: 38px;
    margin: 0;
    background-color: #f2f2f2;
    position: relative;
    display: block;
}

.form__people-count-adults input[placeholder],
.form__people-count-childrens input[placeholder] {
    text-align: center;
}

.form__people-count-adults label,
.form__people-count-childrens label {    
    flex-shrink: 1;    
}

.form__button-search {
    background-color: #81b3d2;
    width: 100%;
    height: 58px;
    font-size: 21px;
}

.form__button-search:hover {
    background-color: #669ec0;
}

.form__button-search:focus {
    color: rgba(255, 255, 255, 0.3);  
    background-color: #5496bd;    
}

.form__people-count-area {
    display: flex;
}

.form__button-deduction::before,
.form__button-add::before {
    content: '';
    position: absolute;

    width: 11px;
    height: 3px;

    top: 18px;
    left: 13px;
    background-color: #a9a9a9;
}

.form__button-add::after {
    content: '';
    position: absolute;

    width: 3px;
    height: 11px;

    top: 14px;
    left: 17px;
    background-color: #a9a9a9;
}

.form__button-deduction:hover::before {
    background-color: #000000;
}

.form__button-add:hover::before,
.form__button-add:hover::after {
    background-color: #000000;
}

.form__button-deduction:active::before {
    background-color: #81b3d2;
}

.form__button-add:active::before,
.form__button-add:active::after {
    background-color: #81b3d2;
}







.result {
    width: 100%;    
}

.result__wrapper {
    max-width: 1056px;
    margin: 0 auto;
}

.result__top {
    height: 86px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}

.result__find {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 49px;
}

.result__sort-wrapper {
    display: flex;
}

.result__sort {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    margin-right: 40px;
    align-self: center;
}

.result__sort-buttons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.result__sort-button {
    margin-right: 33px;
}

.result__sort-button button {
    padding: 0;
    border: none;
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
    
}

.result__sort-button--active button {
    border: none;
    color: #81b3d2;
}

.result__sort-arrows {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;  
}

.result__sort-arrow-min,
.result__sort-arrow-max {    
    font-size: 0;
    width: 10px;
    height: 11px;
    position: relative;
    cursor: pointer;
}

.result__sort-arrow-min {
    margin-right: 10px;
}

.result__sort-arrow-min::after {
    position: absolute;
    content: '';    
    border: 5px solid transparent;
    border-bottom: 10px solid #cacaca;
    top: -5px;
    left: -2px;
}

.result__sort-arrow-max::after {
    position: absolute;
    content: '';    
    border: 5px solid transparent;
    border-top: 10px solid #81b3d2;
    top: 0;
    left: 0;
}

.hotel {
    width: 100%;
    margin-top: 30px;
    padding-bottom: 30px;
    display: flex;
    border-bottom: 1px solid #e5e5e5;
}

.hotel img {
    margin-right: 30px;
}

.hotel__desc-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hotel__desc h2 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21px;
    line-height: 16px;

}

.hotel__desc {    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel__action {
    display: flex;
    height: 60px;
    justify-content: space-between;
}

.hotel__details,
.hotel__book {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.hotel__details p,
.hotel__book p {
    line-height: 19px;
    text-align: left;
}

.hotel__details {
    min-width: 110px;
    margin-right: 6px;
}

.hotel__book {
    min-width: 142px;
}

.hotel__details a,
.hotel__book a {
    width: 100%;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    background-color: #81b3d2;
    padding: 3px 0;
    text-decoration: none;
    font-size: 14px;
}

.hotel__book a {
    background-color: #766357;
}

.hotel__rating-stars img {
    margin-left: 2px;
    margin-right: 0;
}

.hotel__rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.hotel__rating p {
    background-color: #f2f2f2;
    padding: 3px 11px;
}
